@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.logo {
  width: 50px;
  height: 54px;
  display: flex;
  justify-content: left; }

.nav__button {
  display: flex;
  justify-content: right; }

.titulo-nav {
  font-size: 40px; }

.nav-link {
  transition: 0.5s;
  color: white; }
  .nav-link:hover {
    transform: scale 1, 1.05;
    color: grey; }

.titulo-nava {
  font-size: 60px;
  font-weight: bold; }

.bg-personalizado {
  background-color: #141111;
  color: black;
  font-size: 40px;
  font-family: "Sofia Sans Extra Condensed", sans-serif; }

.logo-nav {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 60px; }

.nav-cascada {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 35px; }

.titulo__span1 {
  color: #38755e; }

.titulo__span2 {
  color: #ffff; }

.titulo__span3 {
  color: red; }

.titulo__span4 {
  color: #74acdf; }

/**footer**/
.icons-face {
  color: whitesmoke;
  font-size: 60px; }
  .icons-face:hover {
    color: #1877f2; }

.icons-twit {
  color: whitesmoke;
  font-size: 60px; }
  .icons-twit:hover {
    color: #1d9bf0; }

.icons-insta {
  color: whitesmoke;
  font-size: 60px; }
  .icons-insta:hover {
    color: #da1946; }

.logo {
  max-height: 150px;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start; }

.redes {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 30px; }

/**carrousel**/
.hero {
  height: 400px;
  margin-top: 50px; }
  .hero img {
    width: 100%;
    height: 400px;
    object-fit: cover; }

/**frase**/
.fraset {
  font-size: 60px; }

.frase {
  font-size: 50px; }

/**card**/
.container-card {
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .container-card .card {
    margin: 0px 15px;
    height: 400px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 25px;
    border: solid whitesmoke;
    background-color: black;
    color: whitesmoke; }
    .container-card .card h2 {
      color: red; }
    .container-card .card p {
      color: whitesmoke; }
    .container-card .card h5 {
      font-size: 30px;
      font-weight: bold;
      text-decoration: underline;
      color: whitesmoke; }
    .container-card .card img {
      margin-top: 5px;
      max-height: 35%;
      border-radius: 5px; }

.lugar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
  max-height: 2000px;
  object-fit: cover; }

.caja1 {
  height: 500px;
  width: 700px;
  justify-content: center;
  display: flex; }
  .caja1 img {
    object-fit: cover;
    border: solid white;
    border-radius: 5px;
    max-height: 500px;
    max-width: 1200px;
    width: 500px;
    margin-bottom: 10px; }

.caja2 {
  height: 500px;
  width: 700px;
  justify-content: center;
  display: flex; }
  .caja2 img {
    object-fit: cover;
    border: solid white;
    border-radius: 5px;
    max-height: 500px;
    max-width: 1200px;
    width: 500px;
    margin-bottom: 10px; }

.caja3 {
  height: 500px;
  width: 700px;
  justify-content: center;
  display: flex; }
  .caja3 img {
    object-fit: cover;
    border: solid white;
    border-radius: 5px;
    max-height: 500px;
    max-width: 1200px;
    width: 500px;
    margin-bottom: 10px; }

.caja4 {
  height: 500px;
  width: 700px;
  justify-content: center;
  display: flex; }
  .caja4 img {
    object-fit: cover;
    border: solid white;
    border-radius: 5px;
    max-height: 500px;
    max-width: 1200px;
    width: 500px;
    margin-bottom: 10px; }

/**Formulario contacto**/
.form {
  margin-top: 100px;
  height: auto;
  width: 100%;
  color: black;
  font-size: 60;
  align-items: center; }

.textarea {
  height: 1000px;
  resize: vertical;
  margin-bottom: 20px; }

.btn-btn {
  font-size: 40px;
  gap: 20px;
  border-radius: 5px;
  border: solid black; }

.contenedor-btn {
  gap: 15px; }

/** Carta**/
.containerp {
  margin-top: 50px;
  width: 100%;
  height: auto;
  background-image: url(../assets/Comida/fuego.jpg);
  display: flex;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  padding-bottom: 10px; }

.ol {
  padding-top: 10%;
  border-left: dotted 5px white;
  margin-left: 0px;
  color: whitesmoke;
  width: 100%;
  height: 95%;
  font-size: 30px;
  list-style: none; }
  .ol h1 {
    font-weight: bold; }
  .ol h2 {
    color: #38755e;
    text-decoration: underline;
    font-weight: bold; }
  .ol h3 {
    color: red; }
  .ol p {
    width: 100%; }

/**location**/
.location {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  color: whitesmoke;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
  row-gap: 10px;
  gap: 10px;
  border: solid;
  object-fit: cover;
  width: 400px;
  height: 100px;
  border-radius: 5px; }
  .location i {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 40px;
    margin: 5px; }

.locationb {
  border: solid grey;
  border-radius: 10px; }

@media only screen and (max-width: 370px) {
  .redes {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0; }
  .logo {
    max-height: 100px;
    max-width: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; }
  .caja1 img {
    width: 200px; }
  .caja2 img {
    width: 200px; }
  .caja3 img {
    width: 200px; }
  .caja4 img {
    width: 200px; } }

@media only screen and (max-width: 750px) {
  .btn-btn {
    font-size: 20px; }
  .card {
    max-height: 558px;
    max-width: 420px;
    padding-bottom: 10px;
    align-items: center; }
  .card img {
    max-height: 400px;
    max-width: 330px; }
  .caja1 img {
    width: 400px; }
  .caja2 img {
    width: 400px; }
  .caja3 img {
    width: 400px; }
  .caja4 img {
    width: 400px; }
  .logo {
    max-height: 100px;
    max-width: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; } }

@media only screen and (min-width: 730px) and (max-width: 750px) {
  .card {
    max-height: 558px;
    max-width: 420px;
    padding-bottom: 10px; }
  .card img {
    max-height: 300px;
    max-width: 430px; }
  .caja1 img {
    width: 350px; }
  .caja2 img {
    width: 350px; }
  .caja3 img {
    width: 350px; }
  .caja4 img {
    width: 350px; }
  .logo {
    max-height: 100px;
    max-width: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; } }
