/**Formulario contacto**/

.form {
    margin-top: 100px;
    height: auto;
    width: 100%;
    color: black;
    font-size: 60;
    align-items: center;
}

.textarea {
    height: 2000px;
    resize: 20px;
    margin-bottom: 20px;
}

.btn-btn {
    font-size: 40px;
    gap: 20px;
    border-radius: 5px;
    border: solid black;
}