/**Formulario contacto**/

.form {
    margin-top: 100px;
    height: auto;
    width: 100%;
    color: black;
    font-size: 60;
    align-items: center;
}

.textarea {
    height: 1000px;
    resize: vertical;
    margin-bottom: 20px;
}

.btn-btn {
    font-size: 40px;
    gap: 20px;
    border-radius: 5px;
    border: solid black;
}

.contenedor-btn{
    gap:15px;
}

.h1-form{
    font-family: $font-main;
    color: black;
    text-decoration: underline;
}