/**carrousel**/


.hero {
    height: 400px;
    margin-top: 50px;

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}


/**frase**/

.fraset {
    font-size: 60px;
}

.frase {
    font-size: 50px;
}

/**card**/

.container-card {
    width: 100%;
    height: 100%;
    object-fit: cover;

    .card {
        margin: 0px 15px;
        height: 400px;
        font-family: $font-main;
        font-size: 25px;
        border: solid whitesmoke;
        background-color: black;
        color: $color-main-font;

        h2 {
            color: $color-title-font;
        }

        p {
            color: $color-main-font;
        }

        h5 {
            font-size: 30px;
            font-weight: bold;
            text-decoration: underline;
            color: $color-main-font;
        }

        img {
            margin-top: 5px;
            max-height: 35%;
            border-radius: 5px;
        }

    }
}

// mixin de imagenes

.lugar {
    @include flex(flex, row, wrap, 10px, center);
    padding-top: 20px;
    align-items: center;
    max-height: 2000px;
    object-fit: cover;
}

.caja1 {
    @include tamanio (500px, 700px, center, flex);

    img {
        object-fit: cover;
        border: solid white;
        border-radius: 5px;
        max-height: 500px;
        max-width: 1200px;
        width: 500px;
        margin-bottom: 10px;
    }
}

.caja2 {
    @include tamanio (500px, 700px, center, flex);

    img {
        object-fit: cover;
        border: solid white;
        border-radius: 5px;
        max-height: 500px;
        max-width: 1200px;
        width: 500px;
        margin-bottom: 10px;
    }
}

.caja3 {
    @include tamanio (500px, 700px, center, flex);

    img {
        object-fit: cover;
        border: solid white;
        border-radius: 5px;
        max-height: 500px;
        max-width: 1200px;
        width: 500px;
        margin-bottom: 10px;
    }
}

.caja4 {
    @include tamanio (500px, 700px, center, flex);

    img {
        object-fit: cover;
        border: solid white;
        border-radius: 5px;
        max-height: 500px;
        max-width: 1200px;
        width: 500px;
        margin-bottom: 10px;
    }
}