/**location**/

.location {
    font-family: $font-main;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;
    row-gap: 10px;
    gap: 10px;
    border: solid;
    object-fit: cover;
    width: 400px;
    height: 100px;
    border-radius: 5px;
    
}

.locationb {
    border: solid grey;
    border-radius: 10px;

}

h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}