@media only screen and (max-width:370px) {

    .redes {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 0;

    }


}

@media only screen and (max-width:750px) {
// imagenes con descripcion
    .card img {
        max-height: 158px;
        max-width: 506px;
    }


    //imagenes de muestra
    .caja1 img {
        width: 400px;
    }

    .caja2 img {
        width: 400px;
    }
    
    .caja3 img {
        width: 400px;
    }
    .caja4 img {
        width: 400px;
    }
}



