@media only screen and (max-width:370px){

    .redes{
        display: flex;
        justify-content:flex-end ;
        align-items:flex-end ; 
        gap:0;
        
    }

    
}

@media only screen and (max-width:750px){

    .card img {
        max-height: 50%;
    }

    .caja1 img {
        width: 400px;
    }
    .caja2 img {
        width: 400px;
    }
}






