@media only screen and (max-width:370px) {

    .redes {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 0;

    }


}

@media only screen and (max-width:750px) {

.btn-btn{
    font-size: 20px;
}

    // imagenes con descripcion
    .card{
        max-height: 558px;
        max-width: 420px;
        padding-bottom: 10px;
    }
    .card img {
        max-height: 400px;
        max-width: 330px;
    }


    //imagenes de muestra
    .caja1 img {
        width: 400px;
    }

    .caja2 img {
        width: 400px;
    }
    
    .caja3 img {
        width: 400px;
    }
    .caja4 img {
        width: 400px;
    }
}



@media only screen and (min-width:730px) and (max-width:750px) {



    // imagenes con descripcion
    .card{
        max-height: 558px;
        max-width: 420px;
        padding-bottom: 10px;
    }
    .card img {
        max-height: 300px;
        max-width: 430px;
    }


    //imagenes de muestra
    .caja1 img {
        width: 350px;
    }

    .caja2 img {
        width: 350px;
    }
    
    .caja3 img {
        width: 350px;
    }
    .caja4 img {
        width: 350px;
    }
}
