@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Italianno&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Italianno&family=Josefin+Sans:wght@300&family=Sofia+Sans+Extra+Condensed:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}