//vars colores 

$color-icons: whitesmoke;
$color-main-font: whitesmoke;
$color-title-font:red;
$color-content-font: red;
$color-title-section:#38755e;
$color-bandera1:#38755e;
$color-bandera2:whitesmoke;
$color-bandera3:red;


//vars font
$font-main: 'Sofia Sans Extra Condensed', sans-serif;