//vars colores 

$color-icons: whitesmoke;
$color-main-font: whitesmoke;
$color-title-font:red;
$color-content-font: red;
$color-title-section:#38755e;
//vars font
$font-main: 'Sofia Sans Extra Condensed', sans-serif;